<%inherit file="base.html"/>

% if not plot:
<a href="/?plot=True">See all with plots</a>
% else:
<a href="/">See without plots</a>
% endif

% for movie in movies:
<div class="movie">
  <div class="imgBlock">
    <a href="http://imdb.com/title/tt${movie.imdb_id}/"><img src="${movie.imageurl}" /></a>
  </div>
  <div class="titleBlock">
    <strong>${movie.name}</strong> (${movie.year}) (${movie.genres})
  <br />
  Running time: ${movie.length} min, IMDB Rating: ${movie.rating}, File: ${movie.filename}


</div>
<div class="plotBlock" id="plot_${movie.id}"> 
% if plot:
${movie.plot}
% else:

<span class="moreDetails" onclick="$('div#plot_${movie.id}').load('/plot?movie=${movie.id}')"><em>More details...</em></span>

% endif

</div>
  <br />
  
</div>
% endfor
</table>
